@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;

    .link {
        a {
            margin: 0px 100px;
            color: #000;
            text-decoration: none;
            font-weight: 600;
        }
    }

}

.yellow_button {
    background: #FFF933;
    font-weight: 600;
    color: #000;
    border: none;
    outline: none;
    padding: 13px 30px;
    text-decoration: none;
    border-radius: 25px;
    &:hover{
        background-color: #efe81c;
        color: #000 !important;
    }
}
.yellow_buttons {
    background: #FFF933;
    font-weight: 600;
    color: #000;
    border: none;
    font-size: 12px;
    outline: none;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 25px;
    &:hover{
        background-color: #efe81c;
        color: #000 !important;
    }
}

.banner {
    .transform {
        margin-top: 50px;

        h3 {
            font-weight: 600;
        }

        p {
            font-size: 14px;
        }

        .over1 {
            position: relative;

            .call {
                position: absolute;
                display: flex;
                align-items: center;
                top: -10px;

                p {
                    font-weight: 600;
                    margin: 0;
                    margin-left: 30px;
                    justify-content: space-between;
                }
            }
        }
    }

    .set1 {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .over2 {
            position: absolute;
            top: 0;
        }

        .over3 {
            padding-top: 350px;
            padding-right: 100px;
        }
    }
}

.banner2 {
    .shutter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
            margin: 10px;
        }
    }
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}

.banner3 {
    .can {
        position: relative;

        h2 {
            position: absolute;
            font-weight: 600;
            left: 20px;
            top: 30px;
        }
    }

    .marg {
        margin-top: 200px;
    }

    .over1 {
        position: relative;

        .call {
            position: absolute;
            display: flex;
            align-items: center;
            margin: 10px 0;

            p {
                font-weight: 600;
                margin: 0;
                margin-left: 30px;
                justify-content: space-between;
            }
        }
    }

    .rec {
        position: relative;

        .marg1 {
            margin-top: 100px;
        }

        .full {
            position: absolute;
            padding-left: 100px;

            .stack {
                background-color: white;
                padding: 20px;
                border: 1px solid #F2F2F2;
                box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
                border-radius: 40px;

                div {
                    width: 100px;
                    height: 100px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    padding: 15px;
                    align-items: center;

                    img {
                        width: 70%;
                    }

                }

                h4 {
                    font-weight: 600;
                    margin: 20px 0;
                    font-size: 18px;
                }

                P {
                    font-size: 14PX;
                }

                .blue {
                    background: #F1F7FF;

                }

                .pink {
                    background: #FFF2F8;
                }

                .orange {
                    background: #FFF7E3;
                }

                .green {
                    background: #DEFFEE;
                }
            }
        }
    }
}

.banner4 {
    padding-top: 200px;

    .audit {
        position: relative;

        .big {
            position: absolute;
        }

        .round {
            margin-top: 300px;
            margin-left: 500px;
        }
    }

    .can {
        position: relative;

        h1 {
            position: absolute;
            font-weight: 600;
            left: 20px;
            top: 30px;
        }
    }
}

.banner5 {
    .mari {
        position: relative;

        .imm {
            position: absolute;
        }

        .mm1 {
            margin-left: 200px;
        }

        .mm2 {
            margin-top: 30px;
        }
    }

    h1,
    h2 {
        font-weight: 600;
    }

    .eclisp {
        img {
            margin: 0 10px;
        }
    }
}

.banner6 {
    .book {
        background: #FFFEE3;
        border-radius: 55px;
        h2{
            font-weight: 600;
        }
    }
    .space{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .tan1{
            margin-top: -250px;
        }
    }

    .ook {
        
        background-color: #FFF933;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 90px;
        height: 100%;
        
        // position: relative;
        button{
            background: #FFF933;
            border: 5px solid white;
            padding: 15px ;
            font-weight: 600;
            // position: absolute;
            width: 70%;
           
            box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
            top: 100px;
            border-radius: 60px;
        }
    }
}
.footer{
    .we{
        font-size: 13px;
    }
    p{
        color: gray;
        font-size: 12px;
    }
   .social{
    img{
        // width: 4%;
        margin: 0 10px;
    }
   }
}

.weight600{
    font-weight: 600;
}
///PORTFOLIO
.portfolio{
    background: #FFFEE3;
    .from{
        color: #757575;
    }
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li{
            list-style: none;
            margin-right: 10px;
            margin-top: 10px;
        }
    }
    .ttxt{
        h3{
            font-weight: 600;
        }
        p{
            color: #757575;
            font-size: 15px;
        }
    }
    .gift{
        color: #FF007A;
        display: flex;
        align-items: center;
        img{
            width: 4%;
            margin-right: 10px;
        }
    }
}

.heu{
    p{
        font-size: 15px;
    }
}

// Media Query


/* For Desktop View */
//   @media screen and (max-width: 1024px) {
//     .set1{
//         .over3{
//             padding-top: 200px !important;
//         }
//     }
//   }

/* For Tablet View */
@media screen and (max-device-width: 1024px) {
    .navbar {
        .link {
            a {
                margin: 0px 50px;
            }
        }
    }
    .bus{
        h1{
            font-size: 27px;
        }
    }

    .set1 {
        .over3 {
            padding-top: 220px !important;
        }
    }

    .marg {
        margin-top: 100px !important;
    }

    .full {
        padding-left: 50px !important;
    }

    // .round{
    //     margin-top: 300px;
    //     margin-left: 450px;
    // }
    .banner4 {
        padding-top: 300px !important;

        .round {
            margin-top: 180px !important;
            margin-left: 320px !important;
            width: 30% !important;
        }
    }

    .banner5 {
        .mari {
            position: relative;

            .imm {
                position: absolute;
            }

            .mm1 {
                margin-left: 130px !important;
            }

            .mm2 {
                margin-top: 30px;
            }
        }

        .eclisp {
            img {
                margin: 0 10px;
            }
        }
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 770px) {
    .set1 {
        .over3 {
            padding-top: 180px !important;
        }
    }

    .marg {
        margin-top: 50px !important;
    }

    .full {
        padding-left: 30px !important;
    }

    .full {
        position: relative !important;
    }

    .marg1 {
        display: none !important;
    }

    .banner4 {
        padding-top: 50px !important;

        .round {
            margin-top: 200px !important;
            margin-left: 350px !important;
            width: 30% !important;
        }
    }

    .banner5 {
        .up {
            margin-top: 20px;
        }
    }
    .bus{
        h1{
            font-size: 20px;
        }
    }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) {
    .set1 {
        .over3 {
            padding-top: 180px !important;
        }
    }

    .marg {
        margin-top: 20px !important;
    }

    .full {
        padding-left: 10px !important;
    }
}

/* For Mobile Phones Portrait or Landscape View */
//   @media screen and (max-device-width: 640px) {
//     .gfg-div {
//       width: 400px;
//       height: 200px;
//       background-color: chartreuse;
//       color: black;
//     }
//   }

/* For iPhone 4 Portrait or Landscape View */
@media screen and (max-device-width: 320px) {
    .set1 {
        .over3 {
            padding-top: 120px !important;
            padding-right: 50px !important;
        }

        img {
            width: 40%;
        }

        .over2 {
            width: 100%;
        }
    }
    .navbar {
        .link {
            display: flex;
            flex-direction: column;
            a {
                margin: 10px;
                
            }
        }
    }

    .logo {
        width: 140px;
    }

    .full {
        position: relative !important;
    }

    .marg1 {
        display: none !important;
    }

    .banner4 {
        padding-top: 50px;

        .round {
            margin-top: 130px !important;
            margin-left: 200px !important;
            width: 30% !important;
        }
    }

    .banner5 {
        .mari {
            position: relative;

            .imm {
                position: absolute;
            }

            .mm1 {
                margin-left: 90px !important;
            }

            .mm2 {
                margin-top: 10px;
            }
        }

        .up {
            margin-top: 20px;
        }
    }
    .bus{
        h1{
            font-size: 25px;
        }
        p{
            margin-top: 60px !important;
        }
    }
}